<?xml version="1.0" encoding="utf-8"?>
<sitecore database="SqlServer" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <sites>
      <site name="mykk" enforceVersionPresence="true" previewUnpublishableItems="true" enableItemLanguageFallback="true" inherits="website" patch:after="site[@name='website']" rootPath="/sitecore/content/CFW" startItem="/Home" />
  </sites>
</sitecore>
